{% extends "base.html" %}

{% block customCSS %}
{% endblock %}

{% block customContent %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                {% if isError %}
                    <div class="alert alert-danger" role="alert">
                            {{ errorMessage }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    
    <div class="container-fluid" id="search-box">
        <div class="row" id="patternSearchBoxWrapper">
            <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11 col-11" id="patternSearchBoxDiv">
                <input class="form form-control" id="patternSearchBox" type="text" name="patternSearchBox" placeholder="Search a Pattern">
            </div>
            <button id="searchClearBtn">Clear</button>
        </div>
    </div>
    
    <div class="container-fluid" id="patternContainer">
        
        <div class="row">
            
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4 patternDivCol" name="state">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 patternDivInfo">
                    <a href = {{ url_for("adapter") }}>
                        <div id="statePatternDiv">
                                Adapter Pattern
                        </div>
                    </a>
                </div>
            </div>
            
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4 patternDivCol" name="adapter">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 patternDivInfo">
                    <a href = {{ url_for("abstractFactory") }}>
                        <div id="adapterPatternDiv">
                                Abstract Factory Pattern
                        </div>
                    </a>
                </div>
            </div>
        
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4 patternDivCol" name="decorator">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 patternDivInfo">
                    <a href = {{ url_for("bridge") }}>
                        <div id="decoratorPatternDiv">
                                Bridge Pattern
                        </div>
                    </a>
                </div>
            </div>
        
        </div>
        
        <div class="row">
        
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4 patternDivCol" name="iterator">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 patternDivInfo">
                    <a href = {{ url_for("builder") }}>
                        <div id="iteratorPatternDiv">
                                Builder Pattern
                        </div>
                    </a>
                </div>
            </div>
        
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4 patternDivCol" name="mediator">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 patternDivInfo">
                    <a href = {{ url_for("chainOfResponsibility") }}>
                        <div id="mediatorPatternDiv">
                                Chain of Responsibility Pattern
                        </div>
                    </a>
                </div>
            </div>
        
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4 patternDivCol" name="singleton">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 patternDivInfo">
                    <a href = {{ url_for("command") }}>
                        <div id="singletonPatternDiv">
                                Command Pattern
                        </div>
                    </a>
                </div>
            </div>
        
        </div>

        <div class="row">
            
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4 patternDivCol" name="state">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 patternDivInfo">
                    <a href = {{ url_for("composite") }}>
                        <div id="statePatternDiv">
                                Composite Pattern
                        </div>
                    </a>
                </div>
            </div>
            
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4 patternDivCol" name="adapter">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 patternDivInfo">
                    <a href = {{ url_for("decorator") }}>
                        <div id="adapterPatternDiv">
                                Decorator Pattern
                        </div>
                    </a>
                </div>
            </div>
        
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4 patternDivCol" name="decorator">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 patternDivInfo">
                    <a href = {{ url_for("facade") }}>
                        <div id="decoratorPatternDiv">
                                Facade Pattern
                        </div>
                    </a>
                </div>
            </div>
        
        </div>

        <div class="row">
            
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4 patternDivCol" name="state">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 patternDivInfo">
                    <a href = {{ url_for("factory") }}>
                        <div id="statePatternDiv">
                                Factory Pattern
                        </div>
                    </a>
                </div>
            </div>
            
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4 patternDivCol" name="adapter">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 patternDivInfo">
                    <a href = {{ url_for("flyweight") }}>
                        <div id="adapterPatternDiv">
                                Flyweight Pattern
                        </div>
                    </a>
                </div>
            </div>
        
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4 patternDivCol" name="decorator">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 patternDivInfo">
                    <a href = {{ url_for("interpreter") }}>
                        <div id="decoratorPatternDiv">
                                Interpreter Pattern
                        </div>
                    </a>
                </div>
            </div>
        
        </div>

        <div class="row">
            
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4 patternDivCol" name="state">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 patternDivInfo">
                    <a href = {{ url_for("iterator") }}>
                        <div id="statePatternDiv">
                                Iterator Pattern
                        </div>
                    </a>
                </div>
            </div>
            
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4 patternDivCol" name="adapter">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 patternDivInfo">
                    <a href = {{ url_for("mediator") }}>
                        <div id="adapterPatternDiv">
                                Mediator Pattern
                        </div>
                    </a>
                </div>
            </div>
        
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4 patternDivCol" name="decorator">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 patternDivInfo">
                    <a href = {{ url_for("memento") }}>
                        <div id="decoratorPatternDiv">
                                Memento Pattern
                        </div>
                    </a>
                </div>
            </div>
        
        </div>

        <div class="row">
            
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4 patternDivCol" name="state">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 patternDivInfo">
                    <a href = {{ url_for("observer") }}>
                        <div id="statePatternDiv">
                                Observer Pattern
                        </div>
                    </a>
                </div>
            </div>
            
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4 patternDivCol" name="adapter">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 patternDivInfo">
                    <a href = {{ url_for("policy") }}>
                        <div id="adapterPatternDiv">
                                Policy Pattern
                        </div>
                    </a>
                </div>
            </div>
        
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4 patternDivCol" name="decorator">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 patternDivInfo">
                    <a href = {{ url_for("prototype") }}>
                        <div id="decoratorPatternDiv">
                                Prototype Pattern
                        </div>
                    </a>
                </div>
            </div>
        
        </div>

        <div class="row">
            
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4 patternDivCol" name="state">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 patternDivInfo">
                    <a href = {{ url_for("proxy") }}>
                        <div id="statePatternDiv">
                                Proxy Pattern
                        </div>
                    </a>
                </div>
            </div>
            
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4 patternDivCol" name="adapter">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 patternDivInfo">
                    <a href = {{ url_for("singleton") }}>
                        <div id="adapterPatternDiv">
                                Singleton Pattern
                        </div>
                    </a>
                </div>
            </div>
        
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4 patternDivCol" name="decorator">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 patternDivInfo">
                    <a href = {{ url_for("state") }}>
                        <div id="decoratorPatternDiv">
                                State Pattern
                        </div>
                    </a>
                </div>
            </div>
        
        </div>

        <div class="row">
            
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4 patternDivCol" name="state">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 patternDivInfo">
                    <a href = {{ url_for("templateMethod") }}>
                        <div id="statePatternDiv">
                                Template Method Pattern
                        </div>
                    </a>
                </div>
            </div>
            
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4 patternDivCol" name="adapter">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 patternDivInfo">
                    <a href = {{ url_for("visitor") }}>
                        <div id="adapterPatternDiv">
                                Visitor Pattern
                        </div>
                    </a>
                </div>
            </div>
        
        </div>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script type="text/javascript">
        var search_bar = document.getElementById("search-box");
        $(window).on('resize', function(){
            if ($(document).height() > $(window).height()) { 
                search_bar.style.display = 'block';
            } else {
                search_bar.style.display = 'none';
            }
        });
    </script>

{% endblock %}

{% block customJS %}
{% endblock %}

