{% extends "base.html" %}

{% block customCSS %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='./css/state.css') }}">
{% endblock %}

{% block customContent %}
<!-- {
    'pattern': 'state',
    
    'states':[ {
            'name': 'S1'
        }
        ,{
            'name': 'S2'
        }
        ,{
            'name': 'S3'
        }
    ],
    
    'functions':[ {
            'name': 'f1', 'param_types': ['int', 'float'], 'param_names': ['i1', 'f1'], 'return': 'void'
        }
        ,{
            'name': 'f2', 'param_types': ['int', 'double'], 'param_names': ['i2', 'd2'], 'return': 'double'
        }
    ]
}
 -->

<div class="container-fluid">
    
    <div class="row">
        <div class="col-xl-2 col-lg-2 col-md-2 col-2 noPadColumn" id="stateNameWrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-12" id="stepsRowName">
                        Step 1.
                    </div>
                </div>
                <hr class="fancyHorLine2">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-12" id="stepsRowInfo">
                        Enter State Name 
                    </div>
                </div>
                <hr class="fancyHorLine1">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-12" id="stateListColDiv">
                        <div class="input-group repeatableGroup">
                            <input type="text" class="form-control" placeholder="State Name" aria-label="State Name" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary addStateBtn" type="button" data-toggle="tooltip" data-placement="top" title="Add another state">+</button>
                                <button class="btn btn-outline-secondary delStateBtn" type="button" data-toggle="tooltip" data-placement="top" title="Delete this state" style="pointer-events: none;" disabled>-</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-xl-10 col-lg-10 col-md-10 col-10 noPadColumn" id="funcDeclWrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-12" id="stepsRowName">
                        Step 2.
                    </div>
                </div>
                <hr class="fancyHorLine2">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-12" id="stepsRowInfo">
                        Function Declaration 
                    </div>
                </div>
                <hr class="fancyHorLine1">
                <div class="row" id="funcDeclWrapperRow">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xl-2 col-lg-2 col-md-2 col-2">
                                    <span class="monkeyPatchShiftToRight"> Return Type </span>
                                </div>
                                <div class="col-xl-2 col-lg-2 col-md-2 col-2">
                                    <span class="monkeyPatchShiftToRight"> Function Name </span>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-4 col-4">
                                    <span class="monkeyPatchShiftToRight"> Parameter Types </span>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-4 col-4">
                                    <span class="monkeyPatchShiftToRight"> Parameter Names </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-2 col-lg-2 col-md-2 col-2">
                                    <input type="text" class="form-control" placeholder="Return Type" aria-label="Return Type" aria-describedby="basic-addon3">
                                </div>
                                <div class="col-xl-2 col-lg-2 col-md-2 col-2">
                                    <input type="text" class="form-control" placeholder="Function Type" aria-label="Function Name" aria-describedby="basic-addon4">
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-4 col-4">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Parameter Type" aria-label="Parameter Type" aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary addParameterTypeBtn" type="button" data-toggle="tooltip" data-placement="top" title="Add another parameter type">+</button>
                                            <button class="btn btn-outline-secondary delParameterTypeBtn" type="button" data-toggle="tooltip" data-placement="top" title="Delete this parameter type" style="pointer-events: none;" disabled>-</button>
                                        </div>
                                    </div>                                
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-4 col-4">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Parameter Name" aria-label="Parameter Name" aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary addParameterNameBtn" type="button" data-toggle="tooltip" data-placement="top" title="Add another parameter name">+</button>
                                            <button class="btn btn-outline-secondary delParameterNameBtn" type="button" data-toggle="tooltip" data-placement="top" title="Delete this parameter name" style="pointer-events: none;" disabled>-</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

{% endblock %}

{% block customJS %}
    <script src="{{ url_for('static',filename='./js/state.js') }}"></script>
{% endblock %}
